---
import Layout from "@/layouts/Layout.astro";
import GenerateView from "@/components/views/generate/GenerateView";
---

<Layout title="Generuj Fiszki">
  <main class="container mx-auto py-8">
    <GenerateView client:load />
  </main>
</Layout>
