---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";
---

<Layout title="Rejestracja">
  <div class="container flex mx-auto h-screen w-screen flex-col items-center justify-center">
    <RegisterForm client:load />
  </div>
</Layout>
