---
import Layout from "@/layouts/Layout.astro";
import { UpdatePasswordForm } from "@/components/auth/UpdatePasswordForm";
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from "@/components/ui/card";
---

<Layout title="Aktualizacja hasła">
  <div class="container flex mx-auto h-screen w-screen flex-col items-center justify-center">
    <Card class="w-full max-w-md">
      <CardHeader class="text-center">
        <CardTitle>Ustaw nowe hasło</CardTitle>
        <CardDescription> Wprowadź swoje nowe hasło, aby odzyskać dostęp do konta. </CardDescription>
      </CardHeader>
      <CardContent>
        <UpdatePasswordForm client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
